@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthStateProvider
@inject IMainWebsite _Main
@inject IJSRuntime JS
@inject NavigationManager _Nav

@if (!isAuthenticated)
{
    <!-- 🔹 Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold text-success" href="/"><img src="./resources/images/logo.png" alt="logo" />Aid Action</a>
            <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center"
            id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/About">ِAbout</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/FundraiserCampaigns">Campaigns</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/Needs">Needs</NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/DonationCenter">Donation Center</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/FAQs">FAQs</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/Contact Us">Contact Us</NavLink>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <NavLink href="/Auth/Login" class="btn btn-outline-success me-2">Login</NavLink>
                <NavLink href="/Auth/Signup" class="btn btn-success">Sign Up</NavLink>
            </div>
        </div>
    </nav>
}
else
{
    <!-- 🔹 Navbar Section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold text-success" href="/"><img src="./resources/images/logo.png" alt="logo" />Aid Action</a>
            <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center"
            id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/About">About</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/FundraiserCampaigns">Campaigns</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/Needs">Needs</NavLink>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/DonationCenter">Donation Center</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/FAQs">FAQs</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/MainWebsite/Contact Us">Contact Us</NavLink>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <!-- User Menu Dropdown -->
                <div class="dropdown px-3">
                    <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="userMenu" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 0; width: 100%;">
                        <i class="fa-regular fa-user me-2"></i>
                        <span class="me-2" style="font-weight:500;color:black ">Hi, @(Auth.IsAuthenticated ? Auth.FullName : "")</span>
                    </button>
                    <ul class="dropdown-menu user-menu border-bottom mb-1" aria-labelledby="userMenu" style="font-weight:400;color:black;background-color:white!important; border-radius: 0; width: 100%; min-width: 0;">
                        <li class="user-menu-item"><i class="fa-solid fa-sharp fa-gear mr-2 me-2"></i><NavLink style="color:rgba(0,0,0,.7)" href="/MainWebsite/Profile">Profile</NavLink></li>
                        <li class="user-menu-item"><i class="fa-solid fa-hands-holding-child me-2"></i><NavLink style="color:rgba(0,0,0,.7)" href="/MainWebsite/FundraiserCampaignsRequests">Campaign Requests</NavLink></li>

                        <li class="user-menu-item"><i class="bi bi-receipt mr-2 me-2"></i><NavLink style="color:rgba(0,0,0,.7)" href="/MainWebsite/DonationRecords">Donation Record</NavLink></li>
                        <li class=""><hr class="dropdown-divider"></li>
                        <li class="user-menu-item"><i class="fa-sharp fa-solid fa-right-from-bracket mr-2 me-2"></i><a style="color:rgba(0,0,0,.7)" href="" @onclick="Logout">Logout</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </nav>

}
<section>
    @Body
</section>


<!-- 🔹 Footer Section -->
<!-- 🔹 Footer Section -->
<footer class="footer-section text-white py-5"
id="footer"
style="background-color: #343a40">
    <div class="container">
        <div class="row">
            <!-- First column: Site name and logo -->
            <div class="col-md-4 mb-4">
                <h4 class="fw-bold mb-2">Aid Action</h4>
                <img src="./resources/images/logo.png"
                alt="logo"
                class="mb-3"
                style="width: 50px" />
                <p class="text-white">
                    Building Experience & Safe Crowdfunding for Social Impact.
                </p>
            </div>

            @if (website != null)
            {
                <!-- Second column: 3 vertical lists -->
                <div class="col-md-8">
                    <div class="row">
                        <!-- Quick Links list -->
                        <div class="col-md-4 mb-4">
                            <h5 class="fw-bold text-success">Quick Links</h5>
                            <ul class="list-unstyled">
                                <li><NavLink href="/" class="text-white">Home</NavLink></li>
                                <li><NavLink href="/MainWebsite/About" class="text-white">About</NavLink></li>
                                <li>
                                    <NavLink href="/MainWebsite/FundraiserCampaigns" class="text-white">Fundraiser Campaigns</NavLink>
                                </li>
                                <li>
                                    <NavLink href="/MainWebsite/DonationCenter" class="text-white">Donation Center</NavLink>
                                </li>
                                <li><NavLink href="/MainWebsite/ContactUs" class="text-white">Contact Us</NavLink></li>
                            </ul>
                        </div>

                        <!-- Contact Info list -->
                        <div class="col-md-4 mb-4">
                            <h5 class="fw-bold text-success">Contact Info</h5>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-phone-alt"></i>@website.PhoneNumber</li>
                                <li><i class="fas fa-envelope"></i> @website.Email</li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i> Salah Eldeen St.,Gaza City,
                                    Palestine
                                </li>
                            </ul>
                        </div>

                        <!-- Social Media Icons list -->
                        <div class="col-md-4 mb-4">
                            <h5 class="fw-bold text-success">Follow Us</h5>
                            <div>
                                <a href="@website.FacebookURL" target="_blank" class="text-white mx-2">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a href="@website.InstagramURL" target="_blank" class="text-white mx-2">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="@website.TikTokURL" target="_blank" class="text-white mx-2">
                                    <i class="fab fa-tiktok"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Copyright text in the center -->
        <!-- Copyright text in the center -->
        <!-- Copyright text in the center -->
        <div class="text-center mt-4">
            <p class="mb-0">&copy; @(DateTime.UtcNow.Year) Aid Action. All rights reserved.</p>
        </div>
    </div>
</footer>


@code {
    private int index;
    private bool isAuthenticated;
    private string? FullName;
    public AuthModel? Auth { get; set; } = new AuthModel();
    public MainWebsite main { get; set; } = new MainWebsite();
    public WebsiteDetails website { get; set; } = new WebsiteDetails();

    private string GetCampaignDetailsUrl(int campaignId)
    {
        return $"/MainWebsite/CampaignDetails/?campaignId={campaignId}";
    }

    public async Task MainWebsiteSelectAsync()
    {

        var result = await _Main.MainWebsiteSelectAsync();
        var resultData = Newtonsoft.Json.JsonConvert.DeserializeObject<Result<List<MainWebsite>>>(result.ToString());
        main = resultData.Data.FirstOrDefault();
        StateHasChanged(); // Trigger re-render to update UI with the new data

    }

    public async Task WebsiteDetailsSelectAsync()
    {

        var result = await _Main.WebsiteDetailsSelectAsync();
        var resultDataList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Result<List<WebsiteDetails>>>>(result.ToString());

        // Get the first item from the list (since it’s an array in the JSON root)
        var resultData = resultDataList.FirstOrDefault();

        // Check if the result is not null
        if (resultData != null)
        {
            // Access the list of WebsiteDetails
            List<WebsiteDetails> websiteDetailsList = resultData.Data;
            website = websiteDetailsList.FirstOrDefault();
        }
        StateHasChanged(); // Trigger re-render to update UI with the new data
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {

            string token = AuthStateProvider.token;
            if (!string.IsNullOrEmpty(AuthStateProvider.token))
            {
                isAuthenticated = true;
            }

            AuthenticationState authenticationState = await AuthStateProvider.GetAuthenticationStateAsync();
            isAuthenticated = authenticationState.User.Identity.IsAuthenticated;
            Auth = await AuthStateProvider.GetUserAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }



    private async Task Logout()
    {
        await JS.InvokeVoidAsync("localStorage.removeItem", "Token");
        await JS.InvokeVoidAsync("localStorage.removeItem", "UserId");
        await JS.InvokeVoidAsync("localStorage.removeItem", "UserType");
        await JS.InvokeVoidAsync("localStorage.removeItem", "FullName");

        await Task.Delay(200);
        await AuthStateProvider.LogoutAsync();
        isAuthenticated = false;
        FullName = "";
        Auth = new AuthModel();

        StateHasChanged();
        _Nav.Refresh();
        StateHasChanged();
    }

    // Generate the URL for need details
    private string GetNeedDetailsUrl(int NeedId)
    {
        return $"/MainWebsite/NeedDetails/?NeedId={NeedId}";
    }
}